.hide {
    display: none;
}
tr:not(.hide):nth-child(even) {
    background-color: #f2f2f2;
}

.grid {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

#help {
    white-space: pre-wrap;
}

#toggleHelp {
    float: right;
}
