<!DOCTYPE html>
<html>
    <head>
        <title>History {{card}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{description}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:title" content="History {{card}}" />
        <meta property="og:image" content="{{card.image}}" />
        <meta property="og:type" content="article" />
    </head>

    {{card}}

    <table class="table">
        <tr>
            <td>Date</td>
            <td>Value</td>
        </tr>
        {% for price in prices %}
        <tr>
            <td>{{price.timestamp.value |date}}</td>
            <td>{{price.value}}</td>
        </tr>
        {% endfor %}
    </table>
</html>
