
{% load static %}
{% load extra_filter %}

<body class="grid">
<link rel="stylesheet" type="text/css" href="{% static 'card/style.css' %}" />
<table id="home">
    <tr>
        <td>ID</td>
        {% for date in dates %}
            <td> {{date|date}} </td>
        {% endfor %}
        <td>Differrence</td>
        <td>Image</td>
    </tr>
    {% for col, col2 in cols %}
        <tr>
            <td>
                <a data-img-src="{{col.card.image}}" href={{col.card.yyt}}>{{col.card}}</a>
                <br />
                <a href={% url 'detail' col.card.card_id %}>History</a>
            </td>
            <td>{{col.value}}</td>
            <td>{{col2}}</td>
            <td>{{col.value|sub:col2}}</td>
        <td><img class="preview"/></td>
        </tr>
        {% endfor %}
</table>
<form name="import" action="/import/" method="post">
{% csrf_token %}
    <input type="date" name="date" />
    <input type="submit" value="submit"/>
    </form>
    <script type="text/javascript" src="{% static 'card/main.js' %}"></script>
</body>
