<!DOCTYPE html>

{% load static %}
{% load extra_filter %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'card/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yuyutei price evolution">
</head>

<body>
    <main>
        <aside class="side">
            <a href="#" class="float-right" id="toggleHelp">Help</a>
            <pre class="float-right hide" id="help">
            <form name="import" class="float-right" action="/import/" method="post">
                {% csrf_token %}
                <input type="date" name="date" />
                <input type="submit" value="submit"/>
            </form>
    Yahoo,

    here you can see the price (Yen) evolution of any WS card include in yuyutei website.
    To show images, move your cursor on the card's id in ID column.

    The default view compares two dates.
    You can choose the range by adding the following text in the url :
    <code>
        ?dates=2019-03-10&dates2019-03-15
    </code>
    If you only interested by cards of a particular set, use '?search='.
    This will show only Konosuba cards :
    <code>
        ?search=ks
    </code>
    Happy, Lucky, Smile, Yay !!

    <a href="https://github.com/Akenaide/kusa">Github</a>
            </pre>
        </aside>
        <section>
            <form action="/">
            From: <select name="dates">
                {% for adate in available_date %}
                    <option value="{{adate|date:'Y-m-d'}}">{{adate|date:"DATE_FORMAT"}}</option>
                {% endfor %}
            </select>
            To: <select name="dates">
                {% for adate in available_date %}
                    <option value="{{adate|date:'Y-m-d'}}">{{adate|date:"DATE_FORMAT"}}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Go" method="GET" >
            </form>
        </section>
        <table id="home">
            <thead>
                <tr class="header">
                    <th><a id="sort-id" href="?sort=id">ID</a></th>
                    {% for date in dates %}
                    <th>{{date|date}}</th>
                    {% endfor %}
                    <th><a id="sort-diff" href="?sort=diff">Differrence</a></th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for col, col2, evo in cols %}
                <tr class="row">
                    <td>
                        <a data-img-src="{{col.card__image}}" href={{col.card__yyt}}>{{col.card__card_id}}</a>
                        <br />
                        <a href={% url 'detail' col.card__card_id %}>History</a>
                    </td>
                    <td>{{col.value}}</td>
                    <td>{{col2}}</td>
                    {% if evo < 0%}
                        <td class="red">
                    {% else %}
                        <td class="green">
                    {% endif %}
                    {{evo}}</td>
                    <td><img class="preview"/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script type="text/javascript" src="{% static 'card/main.js' %}"></script>
</body>
